<%=uname%>
<h1>what is your second number?<h1>
<form method="post" action="second_num">
	<input type="number" name="num2">
	<input type="hidden" name="num1" value = "<%=num1%>">
	<input type="hidden" name="uname" value = "<%=uname%>">
	<input type="submit" value="timbus">
</form>