<h1>What is your username and password?</h1><br>
<form method="post" action="login">
	<input type="text" name="uname">username<br>
	<input type="text" name="p_word">password<br>
	<input type="submit">
</form>


